body {
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(darkblue, blue);
    padding: 5px;
    color: white;
}

.form-container {
    border: 3px solid black;
}

.results-container {
    border: 3px solid black;
}

.results-container h2 {
    text-align: center;
}

